{% extends "_layout.html" %}
{% block content %}
<div class="d-flex align-items-center justify-content-between">
    <h1>Restaurants</h1>
    <a href="{{ url_for('restaurants.new') }}">Add Restaurants ? Click HERE</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Address</th>
            <th>Link to Google Map</th>
            <th>Area Code</th>
        </tr>
    </thead>
    <tbody>
        {% for restaurant in restaurants %}
        <tr>
            <td>
                <a href="{{ url_for('restaurants.show', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a>
            </td>
            <td>{{ restaurant.address }}</td>
            <td><a href={{ restaurant.google_map_link }} target="_blank">{{ restaurant.google_map_link }}</a></td>
            <td>{{ restaurant.area_code }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

