<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}"> -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <title>Taipei 2019</title>
</head>
<body class="bg-light">
    {% include 'navbar.html' %}
    <div class="container vw-100" style="margin-top: 70px">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                            {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
