{% extends "_layout.html" %}
{% block content %}

<div class="mx-2 my-3">
    <h5 class="my-3">Information:</h5>
    <div class="d-flex">
        <p style="width: 100px;">Date:</p>
        <p>21 - 25 October 2019</p>
    </div>
    <div class="d-flex">
        <p style="width: 100px;">Day:</p>
        <p>Monday - Friday</p>
    </div>
</div>

<div class="d-flex flex-column m-2">
    <h6>What you want to do?</h6>
    <a href={{ url_for("restaurants.new") }}>Add a new Restaurant</a>
    <a href={{ url_for("restaurants.index") }}>View All Restaurants</a>
</div>
{% endblock %}