<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100vw;">
    <a class="navbar-brand" href="/">Taipei 2019</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('restaurants_index') }}>All Restaurants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('restaurants_new') }}>Add Restaurant</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action={{ url_for('restaurants_search') }} method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Restaurant name" aria-label="Search"
                name="search_input">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>