{% extends "_layout.html" %}
{% block content %}
<h3 class="my-2">Add Restaurant</h3>
<a href={{ url_for('restaurants_index') }}>Click here to view all restaurants</a>
<form action={{ url_for('restaurants_create') }} method="POST" class="my-2">
    <div class="form-group">
        <label for="restaurant_name">Name:</label>
        <input type="text" name="restaurant_name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="restaurant_address">Address:</label>
        <input type="text" name="restaurant_address" class="form-control" />
    </div>
    <div class="form-group">
        <label for="restaurant_google_map_link">Google Map Link:</label>
        <input type="text" name="restaurant_google_map_link" class="form-control" />
    </div>

    <div class="form-group col">
        <h5>Area Code</h5>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input" value="1 - Nearby Hotel Area" />
            <label for="restaurant_area_code" class="form-check-label">1 - Nearby Hotel Area</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input"
                value="1.5 - Further from Hotel Area" />
            <label for="restaurant_area_code">1.5 - Further from Hotel Area</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input" value="2 - 西門町 XiMenDing Area" />
            <label for="restaurant_area_code">2 - 西門町 XiMenDing Area</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input"
                value="3 - Nearby National Memorial Hall" />
            <label for="restaurant_area_code">3 - Nearby National Memorial Hall</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input"
                value="3.5 - Further from National Memorial Hall" />
            <label for="restaurant_area_code">3.5 - Further from National Memorial Hall</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input" value="4 - Yonghe Area" />
            <label for="restaurant_area_code">4 - Yonghe Area</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input" value="5 - ZhongZheng Area" />
            <label for="restaurant_area_code">5 - ZhongZheng Area</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input"
                value="5.5 - Further from ZhongZheng Area" />
            <label for="restaurant_area_code">5.5 - Further from ZhongZheng Area</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input" value="5 - ZhongZheng Area" />
            <label for="restaurant_area_code">5 - ZhongZheng Area</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input"
                value="6 - Near SanHe Night Market" />
            <label for="restaurant_area_code">6 - Near SanHe Night Market</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input" value="8 - 九份 JiuFen" />
            <label for="restaurant_area_code">8 - 九份 JiuFen</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="restaurant_area_code" class="form-check-input" value="9 - Yi Lan Area" />
            <label for="restaurant_area_code">9 - Yi Lan Area</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add a Restaurant</button>
</form>
{% endblock %}