{% extends "_layout.html" %}
{% block content %}
<div class="d-flex flex-column flex-sm-row align-items-center justify-content-between m-2">
    <h3>Restaurants</h3>
    <a href="{{ url_for('restaurants_new') }}">Add Restaurants ? Click HERE</a>
</div>

<div class="table_container" style="overflow-x: auto;">
    <table class="table">
        <thead>
            <tr>
                <th>Restaurant Name</th>
                <th>Address</th>
                <th>Link to Google Map</th>
                <th>Area Code</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="overflow-y: auto;">
            {% for restaurant in restaurants %}
            <tr>
                <td>
                    <a href="{{ url_for('restaurants_show', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a>
                </td>
                <td>{{ restaurant.address }}</td>
                <td><a href={{ restaurant.google_map_link }} target="_blank">{{ restaurant.google_map_link }}</a></td>
                <td>{{ restaurant.area_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}