{% extends "_layout.html" %}
{% block content %}
<div class="d-flex align-items-center justify-content-between">
    <h1>Stores</h1>
    <a href="{{ url_for('stores_new') }}">Add Store ? Click HERE</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Number of Warehouses</th>
        </tr>
    </thead>
    <tbody>
        {% for store in stores %}
        <tr>
            <td>
                <a href="{{ url_for('stores_show', store_id=store.id) }}">{{ store.name }}</a>
            </td>
            <td>{{ store.warehouses.count() }}</td>
            <td>
                <form action="{{ url_for('stores_destroy', store_id=store.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>   
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

