{% extends "_layout.html" %}
{% block content %}
<h1>Create a Warehouse</h1>
<form action={{ url_for('warehouses_create') }} method="POST">
    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" name="location" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="store"></label>
        <select name="store_id" class="form-control">
            <option hidden disabled selected value>-- select a store --</option>
            {% for store in stores %}
            <option value={{ store.id }}>{{ store.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add a Warehouse</button>
</form>
<ol class="mt-4">
    {% for warehouse in warehouses %}
        <li>{{warehouse.location}}</li>
    {% endfor %}
</ol>
{% endblock %}