{% extends "_layout.html" %}
{% block content %}
<div class="d-flex align-items-center justify-content-between">
    <h1>Warehouses</h1>
    <a href="{{ url_for('warehouses_new') }}">Add Warehouse ? Click HERE</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Warehouses Location</th>
            <th>Store Name</th>
        </tr>
    </thead>
    <tbody>
        {% for warehouse in warehouses %}
        <tr>
            <td>{{ warehouse.location }}</td>
            <td>{{ warehouse.store.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

