{% extends "_layout.html" %}
{% block content %}

<div>
    <h3 class="text-monospace mx-3 my-4">Travel Plan</h3>

    <div class="accordion mb-3" id="accordionExample">

        <div class="card">
            <div class="card-header" id="headingOne" style="background-color: papayawhip">
                <h2 class="mb-0">
                    <button class="btn btn-link text-dark font-weight-bold" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                        style="white-space: normal; text-align: left;">
                        Day 1 - Monday 【 西門町, 中正紀念堂, 饒河夜市 】
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">04:30</span>
                            To Salak Tinggi Station
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">05:30</span>
                            Reach KLIA2
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">07:35</span>
                            Departure from KUL
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">12:20</span>
                            Reach 臺灣桃園國際機場
                        </li>
                        <li class="list-group-item">
                            Buy <b>Sim Card</b> and <b>Taipei EasyCard 悠遊卡</b> at Airport
                            <br />
                            <small class="text-info">*Electronic Stored-Value Card Service Counter located at the
                                Arrival Hall of Terminal 1</small>
                            <br />
                            <span class="badge badge-primary badge-pill">Also in Convenient Stores</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">MRT Express</span>
                            <b>A12</b> Taoyuan Airport Terminal 1 - <b>A1</b> Taipei Main Station
                            <span class="badge badge-primary badge-pill">36 mins</span>
                            <span class="badge badge-primary badge-pill">3 stops</span>
                            <span class="badge badge-primary badge-pill">NT $150</span>
                        </li>
                        <li class="list-group-item">
                            Taipei AP H Imperial 台北亞太H帝國
                            <span class="badge badge-primary badge-pill">11樓</span>
                            <span class="badge badge-primary badge-pill">Check-in: 15:00</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>G13</b> Beimen Station - <b>G12</b> Ximen Station
                            <span class="badge badge-primary badge-pill">2 mins</span>
                            <span class="badge badge-primary badge-pill">NT $16</span>
                            <span class="badge badge-success badge-pill">Songshan xingdian Line</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>BL12</b> Taipei Station - <b>BL11</b> Ximen Station
                            <span class="badge badge-primary badge-pill">3 mins</span>
                            <span class="badge badge-primary badge-pill">NT $16</span>
                            <span class="badge badge-primary badge-pill">Bannan Line</span>
                        </li>
                        <!-- <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">15:00</span>
                            <a href="{{ url_for('restaurants.show', restaurant_id=52) }}">馬辣頂級麻辣鴛鴦火鍋-西門店</a>
                            <span class="badge badge-primary badge-pill">long queue</span>
                            <span class="badge badge-primary badge-pill">try our luck</span>
                            <span class="badge badge-primary badge-pill">3pm onward - less peak</span>
                        </li> -->
                        <li class="list-group-item">
                            <b>Explore 西門町</b>
                            <br />
                            <ul>
                                <li>
                                    <a href="{{ url_for('restaurants.show', restaurant_id=25) }}">程味珍魯肉飯</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('restaurants.show', restaurant_id=22) }}">永和豆漿</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('restaurants.show', restaurant_id=23) }}">火焰骰子牛 (西門店)</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('restaurants.show', restaurant_id=28) }}">阿宗麵線</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>G12</b> Ximen Station - <b>G10</b> 中正紀念堂站
                            <span class="badge badge-primary badge-pill">4 mins</span>
                            <span class="badge badge-primary badge-pill">NT $16</span>
                            <span class="badge badge-success badge-pill">Songshan xingdian Line</span>
                        </li>
                        <li class="list-group-item">
                            <b>中正紀念堂</b>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ url_for('restaurants.show', restaurant_id=41) }}"><b>二吉軒豆乳 - 金華街
                                    Soypresso</b></a>
                            <span class="badge badge-primary badge-pill">07:00 - 22:00</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>G12</b> Ximen Station - <b>G19</b> Songshan Station
                            <span class="badge badge-primary badge-pill">16 mins</span>
                            <span class="badge badge-primary badge-pill">NT $20</span>
                            <span class="badge badge-success badge-pill">Songshan xingdian Line</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>G10</b> 中正紀念堂站 - <b>G19</b> Songshan Station
                            <span class="badge badge-primary badge-pill">19 mins</span>
                            <span class="badge badge-primary badge-pill">NT $24</span>
                            <span class="badge badge-success badge-pill">Songshan xingdian Line</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">18:00</span>
                            <a href="{{ url_for('restaurants.show', restaurant_id=58) }}"><b>饒河夜市</b></a>
                            <br />
                            <span class="badge badge-primary badge-pill">松山站</span>
                            <span class="badge badge-primary badge-pill">open - 16:00</span>
                            <br />
                            <a href="https://candicecity.com/10487/" target="_blank"
                                class="text-reset text-info"><small>&#187; 饒河街夜市必吃美食10攤</small></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo" style="background-color: papayawhip">
                <h2 class="mb-0">
                    <button class="btn btn-link text-dark font-weight-bold" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                        style="white-space: normal; text-align: left;">
                        Day 2 - Tuesday 【 九份, 無老鍋, 家樂福 】
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">07:00</span>
                            Breakfast
                            <br />
                            <small class="text-info">* Must Eat - if not gonna wait till 12:10 pm - Reach Jiufen</small>
                            <br />
                            <span class="badge badge-primary badge-pill">Near Hotel</span>
                            <span class="badge badge-primary badge-pill">西門町</span>
                            <span class="badge badge-primary badge-pill">7-11</span>
                            <span class="badge badge-primary badge-pill">Bought day before</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-success mr-2">08:15</span>
                            Meet up at <b>GaKuDen Bakery</b>
                            <br />
                            <small class="text-info">* Find a minibus with the orange Klook logo at the front</small>
                            <br />
                            <span class="badge badge-primary badge-pill">near exit 4 of Ximen Station</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2 mr-2">08:30</span>
                            Depart to <b>Yehliu Geopark</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">09:30</span>
                            <b>Yehliu Geopark</b>
                            <span class="badge badge-primary badge-pill">70 mins</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">10:40</span>
                            Depart to <b>Ying Yang Sea</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">11:25</span>
                            <b>Ying Yang Sea + 13 Layer Remains</b>
                            <span class="badge badge-primary badge-pill">15 mins</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">10:40</span>
                            Depart to <b>Golden Waterfall</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">11:50</span>
                            <b>Golden Waterfall</b>
                            <span class="badge badge-primary badge-pill">10 mins</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">12:00</span>
                            Depart to <b>Jiufen</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">12:10</span>
                            <b>Jiufen</b>
                            <span class="badge badge-primary badge-pill">120 mins</span>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex flex-column">
                                <p class="mb-2">
                                    <b>九份老街必吃美食</b>
                                    <img src="{{ url_for('static', filename='image/yellow-star.png') }}"
                                        style="height: 25px; width: 25px;" alt="yellow-star">
                                </p>
                                <small class="text-info mb-3">* 短短400公尺的路上</small>
                                <p>&#07; <a href="{{ url_for('restaurants.show', restaurant_id=64) }}">魚丸伯仔</a></p>
                                <p>
                                    &#07; <a href="{{ url_for('restaurants.show', restaurant_id=66) }}">阿珠雪在燒</a>
                                    <img src="{{ url_for('static', filename='image/yellow-star.png') }}"
                                        style="height: 25px; width: 25px;" alt="yellow-star">
                                </p>
                                <p>&#07; <a href="{{ url_for('restaurants.show', restaurant_id=67) }}">張記傳統魚丸</a></p>
                                <p>&#07; <a href="{{ url_for('restaurants.show', restaurant_id=68) }}">金枝紅糟素肉圓</a></p>
                                <p>&#07; <a href="{{ url_for('restaurants.show', restaurant_id=62) }}">阿蘭草仔粿芋粿</a></p>
                                <p>&#07; <a href="{{ url_for('restaurants.show', restaurant_id=69) }}">郵局前油蔥粿</a></p>
                                <p>&#07; <a href="{{ url_for('restaurants.show', restaurant_id=61) }}">賴阿婆芋圓</a></p>
                                <p>&#07; <a href="{{ url_for('restaurants.show', restaurant_id=60) }}">阿柑姨芋圓</a></p>
                                <p>&#07; <a href="{{ url_for('restaurants.show', restaurant_id=70) }}">SIIDCHA</a></p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">14:10</span>
                            Depart to <b>Shifen Waterfall</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">14:50</span>
                            <b>Shifen Waterfall</b>
                            <span class="badge badge-primary badge-pill">50 mins</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">15:40</span>
                            Depart to <b>Shifen Old Street</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">15:50</span>
                            <b>Shifen Old Street</b>
                            <span class="badge badge-primary badge-pill">70 mins</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">17:00</span>
                            Depart to <b>GaKuDen Bakery</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">18:00</span>
                            <b>GaKuDen Bakery (XiMending)</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-success mr-2">18:30</span>
                            <a href="{{ url_for('restaurants.show', restaurant_id=24) }}">
                                <b>無老鍋 (西門町店)</b>
                            </a>
                            <a href="https://inline.app/reservations/-LqHOdM5k3K77qTWmA3r" target="_blank"
                                class="badge badge-danger badge-pill">Booked &#8730;</a>
                        </li>
                        <li class="list-group-item">
                            <b>Carrefour Guilin Store 家樂福 桂林店</b>
                            <span class="badge badge-primary badge-pill">24 hrs</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree" style="background-color: papayawhip">
                <h2 class="mb-0">
                    <button class="btn btn-link text-dark font-weight-bold" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                        style="white-space: normal; text-align: left;">
                        Day 3 - Wednesday【 Outlet, Costco 】
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Breakfast</span>
                            <a href="{{ url_for('restaurants.show', restaurant_id=51) }}"><b>LoCo Food 乐口福</b></a>
                            <span class="badge badge-primary badge-pill">06:00 - 14:00</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">High-Speed Rail</span>
                            Taipei Station - Taoyuan Station
                            <span class="badge badge-primary badge-pill">21 mins</span>
                            <span class="badge badge-primary badge-pill">NT $160</span>
                            <span class="badge badge-success badge-pill">台灣高鐵</span>
                        </li>
                        <li class="list-group-item">
                            <a href="https://goo.gl/maps/aHL4EeXL546rsE5PA"><b>華泰名品城 Gloria Outlets</b></a>
                            <span class="badge badge-primary badge-pill">10:00 - 21:00</span>
                            <span class="badge badge-primary badge-pill"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">High-Speed Rail</span>
                            Taiyuan Station - Taipei Station
                            <span class="badge badge-primary badge-pill">21 mins</span>
                            <span class="badge badge-primary badge-pill">NT $160</span>
                            <span class="badge badge-success badge-pill">台灣高鐵</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Lunch</span>
                            <a href="{{ url_for('restaurants.show', restaurant_id=4) }}"><b>天丼てんや TendonTenya</b></a>
                            <span class="badge badge-primary badge-pill">11:00 - 22:00</span>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ url_for('restaurants.show', restaurant_id=57) }}"><b>好市多Costco 內湖店</b></a>
                            <span class="badge badge-primary badge-pill">10:00 - 21:30</span>
                            <span class="badge badge-primary badge-pill">Nearby Raohe night market</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Dinner</span>
                            Costco Food court
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Supper</span>
                            <a href="{{ url_for('restaurants.show', restaurant_id=21) }}"><b>台灣松屋台北西門町店</b></a>
                            <span class="badge badge-primary badge-pill">till 2am</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour" style="background-color: papayawhip">
                <h2 class="mb-0">
                    <button class="btn btn-link text-dark font-weight-bold" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                        style="white-space: normal; text-align: left;">
                        Day 4 - Thursday 【 TAIPEI 101, 诚品书店, 大師兄, 淡水 】
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Breakfast</span>
                            <!-- <a href="{{ url_for('restaurants.show', restaurant_id=80) }}"><b>大師兄銷魂麵舖-信義店</b></a>
                            <span class="badge badge-primary badge-pill">11:00 - 21:30</span> -->
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>R10</b> Taipei Main Station - <b>R03</b> Taipei 101 Station
                            <span class="badge badge-danger badge-pill">Tamsui-Xinyi Line</span>
                            <span class="badge badge-primary badge-pill">14 mins</span>
                            <span class="badge badge-primary badge-pill">NT $20</span>
                        </li>
                        <li class="list-group-item">
                            <b>TAIPEI 101</b>
                            <ul>
                                <li>
                                    JASONS Market Place
                                    <span class="badge badge-primary badge-pill">09:00 - 22:00</span>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>BL12</b> Taipei Main Station - <b>BL18</b> Taipei City Hall Station
                            <span class="badge badge-primary badge-pill">Bannan Line</span>
                            <span class="badge badge-primary badge-pill">12 mins</span>
                            <span class="badge badge-primary badge-pill">NT $16</span>
                        </li>
                        <li class="list-group-item">
                            <a href="https://goo.gl/maps/bXQQLgv9yGTqKXNd9" target="_blank"><b>诚品书店 (信义旗舰店)</b></a>
                            <span class="badge badge-primary badge-pill">台北最大</span>
                            <span class="badge badge-primary badge-pill">11:00 - 22:00</span>
                            <br />
                            <small class="text-info">* Many foods inside 诚品书店 also (e.g 太陽蕃茄拉麵)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Lunch</span>
                            <a href="{{ url_for('restaurants.show', restaurant_id=80) }}"><b>大師兄銷魂麵舖-信義店</b></a>
                            <span class="badge badge-primary badge-pill">11:00 - 21:30</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>R10</b> Taipei Main Station - <b>R28</b> Tamsui Station
                            <span class="badge badge-danger badge-pill">Tamsui-Xinyi Line</span>
                            <span class="badge badge-primary badge-pill">37 mins</span>
                            <span class="badge badge-primary badge-pill">NT $40</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Afternoon</span>
                            <b>淡水老街</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Ship</span>
                            Tamsui Passenger Ship Wharf C - Fisherman's Wharf
                            <br />
                            <small class="text-info">* Blue Highway</small>
                            <br />
                            <small class="text-info">- 可以直接以悠遊卡付費</small>
                            <br />
                            <span class="badge badge-primary badge-pill">15 mins</span>
                            <span class="badge badge-primary badge-pill">non-stops</span>
                            <span class="badge badge-primary badge-pill">NT $60 - One-way</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Sunset time</span>
                            <b>淡水渔人码头</b>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>R28</b> Tamsui Station - <b>R16</b> Shilin Station
                            <span class="badge badge-danger badge-pill">Tamsui-Xinyi Line</span>
                            <span class="badge badge-primary badge-pill">26 mins</span>
                            <span class="badge badge-primary badge-pill">NT $32</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Passby</span>
                            <a href="{{ url_for('restaurants.show', restaurant_id=75) }}"><b>士林夜市</b></a>
                            <span class="badge badge-primary badge-pill">16:00 - 00:00</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">Metro</span>
                            <b>R16</b> Shilin Station - <b>R10</b> Taipei Station
                            <span class="badge badge-danger badge-pill">Tamsui-Xinyi Line</span>
                            <span class="badge badge-primary badge-pill">11 mins</span>
                            <span class="badge badge-primary badge-pill">NT $20</span>
                            <span class="badge badge-primary badge-pill">Last Train - 00:28</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive" style="background-color: papayawhip">
                <h2 class="mb-0">
                    <button class="btn btn-link text-dark font-weight-bold" type="button" data-toggle="collapse"
                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                        style="white-space: normal; text-align: left;">
                        Day 5 - Friday 【 Anywhere 】
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">12:00</span>
                            Taipei AP H Imperial 台北亞太H帝國
                            <span class="badge badge-primary badge-pill">Check-out</span>
                            <span class="badge badge-primary badge-pill">Store luggage at Hotel</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Lunch</span>
                            <!-- <a href="{{ url_for('restaurants.show', restaurant_id=80) }}"><b>大師兄銷魂麵舖-信義店</b></a>
                                <span class="badge badge-primary badge-pill">11:00 - 21:30</span> -->
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">Dinner</span>
                            <!-- <a href="{{ url_for('restaurants.show', restaurant_id=80) }}"><b>大師兄銷魂麵舖-信義店</b></a>
                                <span class="badge badge-primary badge-pill">11:00 - 21:30</span> -->
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">01:05 (SAT）</span>
                            Departure from Taipei
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-secondary mr-2">05:45 (SAT)</span>
                            Reach KLIA2
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}